body {
  margin: 0;
  background: linear-gradient(#fefefe, #777777);
  height: 100vh;
  overscroll-behavior: none;
}
#stage {
  touch-action: none;
  overscroll-behavior: none;
  position: relative;
  top: -2%;
  z-index: 100;
  margin: 0% auto;
  width: 100%;
  height: 100vh;
}
#handle, #gacha-body {
  touch-action: none;
  overscroll-behavior: none;
}
img {
  position: absolute;
  -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
img.egg {
  visibility:hidden;
}
#touch-eater {
  display: none;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
}
#odai {
  opacity: 0;
  width: 90%;
  position: absolute;
  z-index: 100;
  border-radius: 8px;
  color: #333;
  background-color: #ffffff;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
  border: solid 16px #0054a6;
  text-align: center;
}
#odai-text {
  font-size: 48px;
  font-weight: bold;
  background: -webkit-linear-gradient(#3498db 0%, #9b59b6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#close-btn {
  width: 30%;
  position: relative;
  padding: 0.8em;
  color: #1B1B1B;
  background: #fff;
  border:1px solid #fff;
  transition: all  0.3s ease;
  pointer-events: none;
}
#close-btn:hover {
  background: #F2F2F2;
  cursor: pointer;
}

/* 以下コピペ （お題選択のセレクトボックス）*/
.cp_ipselect {
  width: 200px;
  height: 33px;
}
.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.cp_ipselect select::-ms-expand {
  display: none;
}
.cp_ipselect.cp_sl01 {
position: relative;
  top: 16px;
  left: 16px;
  z-index: 101;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}